
[[headers]]
  for = "/*" 
  [headers.values]
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options = "DENY" 
    X-Content-Type-Options = "nosniff" 
    Content-Security-Policy = "default-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; script-src 'self' https://www.google-analytics.com;"

[[redirects]]
  from = "/contact"
  to = "/contact.html"
  status = 200
  force = true
